.slide .box{
    display: flex !important;
    padding: 20px 0px;
    align-items: center;

}
.slide .img{
    width: 400px;
    height: 400px;
    
}
.slide img {
    width: 100%;
    height: 100%;
}
.slide .text {
    width: 50%;
    padding: 20px 0 60px 22px;
    /* font-size: larger; */
}
.slide .text h3{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 40px;
    font-weight: 500;
}
.slide .text p{
    font-style: italic;
}
.slick-dots li button::after{
    font-size: 40px;
}
/* card two */
.cardtwo.slide .box:nth-child(even){
    flex-direction: row-reverse ;
}

.cardtwo.slide .img{
    margin: 10px 0;

}
.cardtwo.slide .img:hover{
    transform: scale(1) !important;
 
}

@media only  screen and (max-width:650px){
    .slide .box{
        flex-direction: column !important;
    }
    .slide .img, .slide .text{
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
    .slide .text p {
        font-style: italic;
        text-align: center;
    }
    .slide .text h3 {
        font-size: 40px;
        margin-top: 6px;
        margin-bottom: 16px;
        line-height: 40px;
        font-weight: 500 ;
    }
    .cardtwo.slide .box:nth-child(n+2){

        border-top: 2px solid #ccc;

    }

}