.slide .box{
    display: flex !important;

}
.slide .image{
    width: 450px;
    height: 400px;
}
.slide img {
    width: 100%;
    height: 100%;
}
.slide .text{
    width: 50%;
    padding: 60px 0 70px 30px;
    font-size: larger;
    
}
.slide .text h3{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 500;
}