.slide .box{
    display: flex !important;

}
.slide h2{
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-weight: 900;
}
.slide .image{
    width: 450px;
    height: 400px;
}
.slide img {
    width: 100%;
    height: 100%;
}
.slide .text{
    width: 50%;
    padding: 60px 0 70px 30px;
    font-size: larger;
    
}
.slide .text h3{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 40px;
    font-weight: 500;
}
.slide .text p{
    font-style: italic;
}