*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row{
  width: 50%;
}
span{
  color: red;
  font-weight: 400;
  font-size: 18px;
  text-transform: capitalize;
}
h2{
  font-size: 30px;
  line-height: 35px;
  margin: 20px 0;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  
}
.top{
  margin-top: 80px;
}
/* left */
.home{
  display: flex;
  
}
.left-content , .right-content{
  width: 50%;
  
}
.content{
  padding: 30px;
}
.left-content{
  height: 100vh;
  position: fixed;
  top: 0;
  color: white;
  overflow: hidden;
}
.home-img img{
  position: absolute;
  left: -0%;
  top: 0%;
  height: 110vh !important;
  z-index: -1;
}
.logo{
  width: 80px;
  height: 80px;
  line-height: 80px;
  padding-right: 12px;
  text-align: center;
  letter-spacing: -12px;
  border-radius: 50%;
  
  color: #000;
  background-color: #fff;

}
.logo h1{
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.left-content .text{
  width: 45%;
  margin-top: 15%;
}
.left-content .text h1{
  font-size: 45px;
  line-height: 48px;
  text-transform: capitalize;
}
.left-content .text p{
  margin: 20px 0 5px 0;
  text-transform: uppercase;

}
.left-content .text2{
  float: right;
  text-align: right;
}
.left-content .qr-code{
  background-color: #fff;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  margin-top: 33%;
}
/* .right-content */
.right-content{
  color: #000;
  padding: 40px;
  position: absolute;
  right: 0;
  
}
.img{
  overflow: hidden;
  transition: 1s ;
}
.img img:hover{
  transform: scale(1.2);
}
img{
  
  transition: 1s ;
}

@media only  screen and (max-width:1200px){
  .home{
    flex-direction: column;
  }
  .home-img img {
    position: absolute;
    left: -10%;
    top: 0%;
    height: 165vh !important;
    z-index: -1;
}
  .left-content , .right-content{
    width: 100%;
    position: relative;
  
  }
  .left-content{
    position: relative;
    height: auto;
  }

}
@media only  screen and (max-width:768px){
  .home-img img {
    position: absolute;
    left: -20%;
    top: 0%;
    height: 155vh !important;
    z-index: -1;
}
  .left-content .text{
    width: 70%;
    margin-top: 25%;
  }
  .left-content .text h1{
    font-size: 36px;
    line-height: 40px;
  }
  .left-content .qr-code{
    margin-top: 60%;
    border-radius: 4px;
  }
  .left-content .qr-code img{
    
    height: 100px;
  }
  .right-content{
    padding: 20px;
  }
}
@media only  screen and (max-width:480px){
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .home-img img {
    position: absolute;
    left: -90%;
    height: 115vh !important;
    top: 0%;
    
}
  .left-content .text{
    width: 90%;
    margin-top: 30%;
  }
  .left-content .text h1{     
    font-size: 28px;
    line-height: 32px;
  }
  .left-content .qr-code{
    margin-top:90%;
  }
  .left-content .qr-code img{
    
    height: 70px;
  }
}